@import 'tailwindcss';

@theme {
    --color-primary: #000;
    --color-secondary: #80e0d5;
}

@layer components {
    .underline-secondary {
        @apply relative after:content-[''] after:bg-secondary after:w-0 after:h-px after:absolute after:bottom-0 after:left-0 
                after:transition-[width] after:duration-300 after:ease-in-out;
    }

    .horizontal-line {
        @apply relative before:content-[""]  before:bg-gray-300 before:w-0.5 before:h-28
            before:absolute before:right-1/2 before:-bottom-20 before:-translate-x-1/2;
    }

    .writing-mode-vertical {
        writing-mode: vertical-rl;
    }
}

@font-face {
    font-family: 'Courier Prime Code';
    src: url('./fonts/Courier Prime Code.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime Code';
    src: url('./fonts/Courier Prime Code Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

* {
    letter-spacing: -2;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    font-family: 'Courier Prime Code';
}

a {
    user-select: none;
}

button {
    cursor: pointer;
    user-select: none;
}

img {
    user-select: none;
}

.bounce-slowly {
    animation: bounce-slowly 5s linear infinite;
}

@keyframes bounce-slowly {
    0%, 100% {
        transform: translateY(0);
    } 50% {
        transform: translateY(10px);
    }
}